<article class="new-rant ui-box">
  <header class="rant-header">
    <div class="rant-title">
      {{input value=rantTitle placeholder="Rant Title"}}
    </div>
    <div class="rant-buttons">
      <button class="save btn-green" {{action 'saveRant'}}><span class="fa fa-upload"> Save</span></button>
      <button class="cancel btn-gray" {{action 'cancelRant'}}><span class="fa fa-sign-out"> Cancel</span></button>
      <!-- Only in Edit template -->
      <button class="delete btn-yellow"{{action 'deleteRant'}} ><span class="fa fa-trash-o"> Delete</span></button>
    </div>
  </header>

  <aside class="rant-aside">
    <div class="avatar">
      <img src="" alt="" />
    </div>
    <div class="rant-word-count">
      {{charCount}} Characters
    </div>
  </aside>

  <section class="rant-body">
    {{textarea rows='8' cols='40' placeholder="Start your rant."}}
  </section>
</article>

<section class="rant ui-box">
  <header class="rant-header">
    <div class="rant-title">
      <h3>This is a rant!</h3>
    </div>
    <div class="rant-buttons">
      <button class="save btn-green"><span class="fa fa-pencil-square-o"> Edit</span></button>
    </div>
  </header>

  <aside class="rant-aside">
    <div class="avatar">
      <img src="" alt="" />
    </div>
  </aside>

  <section class="rant-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ve...
  </section>
</section>

<section class="ranters">
  <header class="ranters-header">
    <h3>Ranters</h3>
  </header>

  <div class="ranter ui-box">
    <div class="avatar">
    </div>

    <h5 class="ranter-name">MrJadamL</h5>
    <h6>adam@gmail.com</h6>
  </div>

  <div class="ranter ui-box">
    <div class="avatar">
    </div>

    <h5 class="ranter-name">Carolyn L</h5>
    <h6>carolyn@gmail.com</h6>

  </div>

  <div class="ranter ui-box">
    <div class="avatar">
    </div>

    <h5 class="ranter-name">Aaron Gray</h5>
    <h6>aaron@gmail.com</h6>
  </div>
</section>

{{outlet}}
